<!--DOCTYPE html-->

{% load static from staticfiles %}

<html>
  <head>
    <meta charset="utf-8">

    <title>{% block head_title %}AnjieShot{% endblock %}</title>

    <!-- local bootstrap. To be removed before pushing -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

  </head>



  <body>
    <div id="fb-root"></div>
       <script>(function(d, s, id) {
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) return;
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));</script>

    <div class="page-header">
       <h1 id="corner-name"><a href="/">AnjieSHOT</a></h1>
   </div>


    <div class="jumbotron">
      <!-- <div class="row"> -->
        <div class="container">
          <div class="col-sm-6">
              <h1><small>Welcome To </small>AnjieSHOT</h1>
              <p>
                <small>The daily life of this pharmacist</small>
              </p>
          </div>

          <div class="col-sm-6">
            <img src="{% static 'images/anjy.jpg' %}" alt="" class="img-responsive pull-right"/>
          </div>
        </div>
      <!-- </div> -->
    </div>

    <!-- <div class="clearfix"></div> -->

    <div class="menu-wrap">
      <nav class="menu">
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="{% url 'post:list' %}">All Posts</a></li>
              {% if user.is_authenticated %}
               <li><a href="{% url 'post:create' %}">Create Post</a></li>
              {% endif %}
          </ul>
      </nav>
   </div>



   {% include "message_display.html" %}

<!-- Search Field -->
<div class="container">
<div class="row">
  <div class="content col-sm-10 col-sm-offset-2">


        {% block content %}

        {% endblock content %}
  </div>

  <div class="col-sm-12">
    <footer>
      <small id="copyright"><p>
        © copyright AnjieSHOT 2016
      </p></small>
    </footer>
</div>

</div>
</div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>


</html>
