{% extends 'base.html' %}

{% block content %}

{% include "search_form.html" %}

  <div class="recent-row row">

    <div class="">
      <h1 id="page_title">{{page_title}}</h1>
    </div>

      {% for item in recent_articles %}
          <div class="recent col-md-6">

                    {% if item.draft %}
                    <h3 style="color:red">Staff Only: Draft</h3>
                    {% endif %}
                    {% if item.published_date > timezone.now %}
                    <h3>Staff Only: Future Post</h3>
                    {% endif %}

                    <h3><a href="{{item.get_absolute_url}}"> {{item.title}}<small id="date"> {{item.published_date| timesince}} ago</small></a></h3>

                    {% if item.user.get_full_name%}
                    <p id="author">Author: {{item.user.get_full_name}}</p>
                    <hr>
                    {% endif %}
                    <blockquote cite="">
                    <p>{{item.content| linebreaks | truncatewords:30}}. . .</p>
                    </blockquote><hr>
                    <p><a href="{{item.get_absolute_url}}" class="btn btn-primary" role="button">Read Full Article</a></p>

            </div>
      {% endfor %}

  </div>
</div>
{% endblock %}
