{% load staticfiles %}

<div class="jumbotron">
  <!-- <div class="row"> -->
    <div class="container">
      <div class="col-md-6 col-sm-6">
          <h1><small>Welcome To </small>AnjieSHOT</h1>
          <p>
            <small>The daily life of this pharmacist</small>
          </p>
      </div>

      <div class="col-md-6 col-sm-6">
        <img src="{% static 'images/anjy.jpg' %}" alt="" class="img-responsive pull-right"/>
      </div>
    </div>
  <!-- </div> -->
</div>

<div class="clearfix"></div>
